<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Add City || Student Management System</title>
    <style>
        .container{
            height: 300px;
            width: 600px;
            border: 1px solid black;
            border-radius: 9px;
        }
    </style>
</head>
<body>
    <!---- Navbar  --->
    {{>navbar}}


    <!------- Main-Content    ------->
    <center>
    <div class="container my-5">
        <h2 class="display-4 fw-normal my-4">Add City</h2>
        <form action="/add_city" method="post" class="my-4">
            <div class="row">
                    <input type="text" placeholder="City Name" class="form-control my-2" name="cityname">
            </div><br>

            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
    </center>
</body>
</html>